<form class="test-search-form">
  <input type="text" class="test-search-input search" value={{terms}}
  placeholder="Search..." autofocus=true oninput={{perform search}}>
</form>
{{#if search.isRunning}}
  <div>Searching...</div>
{{/if}}
{{yield photos}}
