html {
  font-family: sans-serif;
  font-size: 18px;
}
body {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
.header {
  font-size: 140%;
  background: #343467;
  color: white;
  padding: 0.5rem;
}
.search {
  width: 100%;
  font-size: 200%;
  color: #b2bcc7;
  border: 3px solid #b2bcc7;
  box-sizing: border-box;
  padding: 0.5rem;
}

.memory-scroll {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

@mixin photos-in-row($photos-per-row) {
  width: calc(100%/#{$photos-per-row});
}

.photo {
  display: inline-block;
  @include photos-in-row(2);

  @media (min-width: 700px) {
    @include photos-in-row(5);
  }

  @media (min-width: 900px) {
    @include photos-in-row(8);
  }

  @media (min-width: 1200px) {
    @include photos-in-row(10);
  }

  img {
    width: 100%;
  }
}
