<div>
  <div class="header" style="color: white">
    {{link-to 'Flickr' 'application'}}
  </div>
  {{!--
  <div>
    <box>Tab 1</box>
    <box>Tab 2</box>
    <box>Tab 3</box>
    <box>Tab 4</box>
  </div>
  --}}

  {{liquid-outlet}}

</div>